#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_mainDiv{
border:1px solid #c7c7c7;
padding-left:0px;
padding-right: 0px;
float:none;
}
.travel_mainDiv img{
width:100%;
}
.travel_mainDiv hr{
width:230px;
}
.environment li{
margin-top:15px;
}
.environment li h4{
border-botttom:1px solid black;
padding:8px;
}